@use "../base/variables" as var;

.about {
    margin-top: 140px;

    &-great {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 9px;

        .great-text {
            color: var.$primary-color;
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 4rem; /* 125% */
        }
    }

    &-content {
        text-align: center;
    }

    &-heading {
        margin-top: 10px;
        color: var.$black-color;
        font-size: 5.6rem;
        font-weight: 500;
        line-height: 6.6rem; /* 117.857% */
    }

    &-desc {
        margin: 15px auto 0;
        max-width: 570px;
    }

    &-rating {
        margin: 70px auto 0;
        padding: 20px 0;
        max-width: 946px;
        display: flex;
        justify-content: center;
        gap: 0 150px;
        border-top: 1px solid rgba(8, 4, 21, 0.2);
        border-bottom: 1px solid rgba(8, 4, 21, 0.2);

        .rating-number {
            color: var.$black-color;
            font-size: 5.6rem;
            font-weight: 500;
            line-height: 7.6rem; /* 135.714% */
            text-decoration-line: underline;
        }
    }

    &-media {
        position: relative;
        margin-top: 70px;

        .media-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 111px;
            height: 111px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.7);
        }

        .btn {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: #ffffff;
            color: var.$gray-color;
        }
    }
}
