@use "../base/variables" as var;

.header {
    background-color: #fbfaff;
}

.header-container {
    max-width: 1330px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
}

.logo-text {
    color: var.$black-color;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3rem; /* 136.364% */
    text-decoration-line: underline;
}

.header-emoji {
    margin-right: -200px;
}

.navbar-list {
    display: flex;
}

.navbar-link {
    padding: 8px 21px;
    color: var.$gray-color;
    &:hover {
        text-shadow: 1px 1px #ccc;
    }
}
