@use "../base/variables" as var;

.services {
    margin-top: 133px;

    &-heading {
        margin-bottom: 20px;
        text-align: center;
        color: var.$black-color;
        font-size: 5.6rem;
        font-weight: 500;
        line-height: 6.6rem; /* 117.857% */
        letter-spacing: -0.224rem;
    }

    &-desc {
        text-align: center;
        max-width: 534px;
        margin: 0 auto;
    }

    &-list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 30px;
    }

    &-item {
        background: #fbfaff;
        padding: 33px 43px;
    }

    &-title {
        margin: 22px 0 15px;
        color: var.$black-color;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 4rem; /* 125% */
        letter-spacing: -0.128rem;
    }
}
