@use "../base/variables" as var;

a {
    text-decoration: none;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var.$font;
    font-size: 1.8rem;
    color: var.$gray-color;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.text {
    color: var.$gray-color;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.btn {
    display: inline-block;
    padding: 16px 37px;
    background: var.$primary-color;
    color: #fdfdfd;
    font-weight: 700;
    line-height: 3rem; /* 166.667% */
}
