@use "../base/variables" as var;

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var.$font;
    font-size: 1.8rem;
    color: var.$gray-color;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
